<section class="wgt-guide">
    <h1>WHV apply form</h1>

    <p>Below the dash, it is the original form from <a href="https://www.immigration.govt.nz" target="_blank">https://www.immigration.govt.nz</a>.</p>

    <p>The guide of each step is following.</p>

    <ol>
        <li><a href="{{website}}#/quick-entrance">Quick Entrance To NZ Online Submit Pages</a></li>
        <li><a href="{{website}}#/apply-form">Apply Form</a></li>
        <li>
            <p><a href="{{website}}#/personal-details">Personal</a></p>
            <ul>
                <li><a href="{{website}}#/personal-details">personal-details</a></li>
                <li><a href="{{website}}#/personal-identification">personal-identification</a></li>
                <li><a href="{{website}}#/personal-occupation">personal-occupation</a></li>
            </ul>
        </li>
        <li><a href="{{website}}#/health">Health</a></li>
        <li><a href="{{website}}#/character">Character</a></li>
        <li><a href="{{website}}#/specification">Specification</a></li>
        <li><a href="{{website}}#/submit-checkbox">After Submit The Form</a></li>
    </ol>

    <hr/>

    <h2>NZ quick entrance</h2>
    <ul>
        <li>
            <a href="https://www.immigration.govt.nz/secure/Login+Working+Holiday.htm" target="_blank">NZ login</a>
        </li>
        <li>
            <a href="https://www.immigration.govt.nz/WorkingHoliday/Application/Create.aspx?CountryId=46" target="_blank">China Apply Form</a>
        </li>
        <li>
            <a href="https://www.immigration.govt.nz/workingholiday/" target="_blank">My Form List</a>
        </li>
    </ul>

    <hr/>

    <div class="h-center donate">
        <p>Gift me a cup of Flat White? ^_^</p>
        <img src="http://cdn.sinacloud.net/woodysblog/pay/alipay.png" alt="支付宝">
        <img src="http://cdn.sinacloud.net/woodysblog/pay/wx.png" alt="微信支付" class="pay-wx">
    </div>

    <p class="h-center">&copy; 2016 By&nbsp;<a href="http://www.wuyuying.com/about.html">Wu</a></p>
    <p class="h-center">Any questions? <a href="http://wuyuying.com/whv.html">Please let me know.</a></p>
</section>
