<link rel="stylesheet" type="text/css" href="../../css/apply-form.css">

<div id="DIV_1">
    <div id="DIV_2">
        <div id="DIV_3">
            <p id="P_4">
                Working Holiday Scheme status for <span id="SPAN_5">United States of America</span>: <b id="B_6"><span id="SPAN_7">Scheme is available</span></b>
            </p>
        </div>
        <div id="DIV_8">
            <br id="BR_9" />
            <p id="P_10">
                To apply to come to New Zealand under the selected Working Holiday Scheme click the Apply Now button below.
            </p>
            <p id="P_11">
                By clicking the Apply Now button you confirm that you have read and accepted the <a href="http://formshelp.immigration.govt.nz/onlineservices/whsonline/termsofuse" id="A_12" title="Link opens in a new window">Terms and Conditions</a>.
            </p><br id="BR_13" />
            <div id="DIV_14">
                <input type="image" name="ctl00$ContentPlaceHolder1$applyNowButton" id="INPUT_15" src="http://cdn.sinacloud.net/whv-img/button_apply_now.gif" alt="applyNow" />
            </div><br id="BR_16" />
        </div>
        <p id="P_17">
            To return to the Working Holiday Homepage click <a href="https://www.immigration.govt.nz/WorkingHoliday/" id="A_18">here</a>.
        </p>
    </div>
</div>

<link rel="import" href="layout/guide.html?__inline">
