<link rel="import" href="../layout/guide.html?__inline">

<h1>After finishing the form, there is a checkbox page to submit.</h1>
<form>
    <label><input type="checkbox"/>test</label><br/>
    <label><input type="checkbox"/>test</label><br/>
    <label><input type="checkbox"/>test</label><br/>
    <label><input type="checkbox"/>test</label><br/>
    <label><input type="checkbox"/>test</label><br/>
    <label><input type="checkbox"/>test</label><br/>
    <label><input type="checkbox"/>test</label><br/>
    <label><input type="checkbox"/>test</label>
</form>
