<link rel="stylesheet" href="../../../css/personal-occupation.css">

<div id="DIV_1">
    <div id="DIV_2">
        <div id="DIV_3">
            <table id="TABLE_4">
                <tbody id="TBODY_5">
                    <tr id="TR_6">
                        <td id="TD_7">
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$previousImageButton" id="INPUT_8" accesskey="P" src="http://cdn.sinacloud.net/whv-img/button_previous.gif" alt="Previous (ALT + P)" />
                        </td>
                        <td id="TD_9">
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$validateButton" id="INPUT_10" accesskey="S" src="http://cdn.sinacloud.net/whv-img/button_save.gif" alt="Save (ALT + S)" />
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$completeLaterImageButton" id="INPUT_11" accesskey="L" src="http://cdn.sinacloud.net/whv-img/button_complete_later.gif" alt="Complete Later (ALT + L)" />
                        </td>
                        <td id="TD_12">
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$nextImageButton" id="INPUT_13" accesskey="N" src="http://cdn.sinacloud.net/whv-img/button_next.gif" alt="Next (ALT + N)" />
                        </td>
                    </tr>
                    <tr id="TR_14">
                        <td colspan="3" id="TD_15">
                            <table id="TABLE_16">
                                <tbody id="TBODY_17">
                                    <tr id="TR_18">
                                        <td id="TD_19">
                                            <table id="TABLE_20">
                                                <tbody id="TBODY_21">
                                                    <tr id="TR_22">
                                                        <td id="TD_23">
                                                            <span id="SPAN_24">*</span> 
                                                            <label id="LABEL_25">
                                                                indicates a mandatory field.
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr id="TR_26">
                                                        <td id="TD_27">
                                                            <span id="SPAN_28"><input id="INPUT_29" type="checkbox" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$mandatoryFields$displayMandatoryFieldErrorsCheckBox" accesskey="T" />
                                                                <label for="ctl00_ContentPlaceHolder1_wizardPageHeader_nav_mandatoryFields_displayMandatoryFieldErrorsCheckBox" id="LABEL_30">
                                                                    Display mandatory field error messages
                                                                </label></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td id="TD_31">
                                            <table id="TABLE_32">
                                                <tbody id="TBODY_33">
                                                    <tr id="TR_34">
                                                        <td id="TD_35">
                                                            <img id="IMG_36" src="http://cdn.sinacloud.net/whv-img/icon_error.gif" alt="Error" />
                                                        </td>
                                                        <td id="TD_37">
                                                            <label for="errorImage" id="LABEL_38">
                                                                The section is incomplete and/or contains errors.
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr id="TR_39">
                                                        <td id="TD_40">
                                                            <img id="IMG_41" src="http://cdn.sinacloud.net/whv-img/icon_tick.gif" alt="Clear" />
                                                        </td>
                                                        <td id="TD_42">
                                                            <label for="okImage" id="LABEL_43">
                                                                Section is complete and has no errors.
                                                            </label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="DIV_44">
                <br id="BR_45" />
                <table id="TABLE_46">
                    <tbody id="TBODY_47">
                        <tr id="TR_48">
                            <td id="TD_49">
                                <div id="DIV_50">
                                    <div id="DIV_51" ng-click="jump('/personal-details')">
                                        <img src="http://cdn.sinacloud.net/whv-img/icon_error.gif" id="IMG_52" width="13" height="13" alt="Contains Errors" />
                                        <input type="submit" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$sectionTabs$TabHeaders$ctl00$tabButton" value="Personal" id="INPUT_53" />
                                    </div>
                                    <div id="DIV_54" ng-click="jump('/health')">
                                        <img src="http://cdn.sinacloud.net/whv-img/icon_error.gif" id="IMG_55" width="13" height="13" alt="Contains Errors" />
                                        <input type="submit" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$sectionTabs$TabHeaders$ctl01$tabButton" value="Health" id="INPUT_56" />
                                    </div>
                                    <div id="DIV_57" ng-click="jump('/character')">
                                        <img src="http://cdn.sinacloud.net/whv-img/icon_error.gif" id="IMG_58" width="13" height="13" alt="Contains Errors" />
                                        <input type="submit" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$sectionTabs$TabHeaders$ctl02$tabButton" value="Character" id="INPUT_59" />
                                    </div>
                                    <div id="DIV_60" ng-click="jump('/specific')">
                                        <img src="http://cdn.sinacloud.net/whv-img/icon_error.gif" id="IMG_61" width="13" height="13" alt="Contains Errors" />
                                        <input type="submit" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$sectionTabs$TabHeaders$ctl03$tabButton" value="Working Holiday Specific" id="INPUT_62" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="DIV_63">
                    <table id="TABLE_64">
                        <tbody id="TBODY_65">
                            <tr id="TR_66">
                                <td id="TD_67">
                                    <div id="DIV_68">
                                        <div id="DIV_69" ng-click="jump('/personal-details')">
                                            <input type="submit" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$pageTabs$TabHeaders$ctl00$tabButton" value="Personal Details" id="INPUT_70" />
                                        </div>
                                        <div id="DIV_71" ng-click="jump('/personal-identification')">
                                            <input type="submit" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$pageTabs$TabHeaders$ctl01$tabButton" value="Identification" id="INPUT_72" />
                                        </div>
                                        <div id="DIV_73" ng-click="jump('/personal-occupation')">
                                            <input type="submit" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$pageTabs$TabHeaders$ctl02$tabButton" value="Occupation Details" id="INPUT_74" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <table id="TABLE_75">
                <tbody id="TBODY_76">
                    <tr id="TR_77">
                        <td id="TD_78">
                        </td>
                        <td id="TD_79">
                            <div id="DIV_80">
                                <p id="P_81">
                                    You should complete all of the pages in this section before proceeding to the next section.
                                </p>
                                <p id="P_82">
                                    The information about you is collected to determine your eligibility for a work visa under a Working Holiday Scheme.
                                </p>
                            </div>
                        </td>
                        <td id="TD_83">
                        </td>
                    </tr>
                </tbody>
            </table>
            <table id="TABLE_84">
                <tbody id="TBODY_85">
                    <tr id="TR_86">
                        <td colspan="7" id="TD_87">
                        </td>
                    </tr>
                    <tr id="TR_88">
                        <td id="TD_89">
                        </td>
                        <td colspan="4" id="TD_90">
                        </td>
                        <td id="TD_91">
                        </td>
                    </tr>
                    <tr id="TR_92">
                        <td id="TD_93">
                        </td>
                        <td id="TD_94">
                        </td>
                        <td id="TD_95">
                            Occupation details – please enter details of the main occupation in which you are qualified or normally work. If you complete this section we can advise you of workplace vacancies that may be of specific interest to you. Industry
                            <table id="TABLE_98">
                                <tbody id="TBODY_99">
                                    <tr id="TR_100">
                                        <td id="TD_101">
                                            Please enter part or all of your workplace's main activity in the search box below to return a list of matching industries and click the search button. Then select the one that most closely matches your industry. Or you can view a <a href="http://glossary.immigration.govt.nz/FullIndustryList.htm" id="A_102" title="Link opens in a new window">full list</a> to find the industry yourself.
                                        </td>
                                    </tr>
                                    <tr id="TR_103">
                                        <td id="TD_104">
                                            <table id="TABLE_105">
                                                <tbody id="TBODY_106">
                                                    <tr id="TR_107">
                                                        <td id="TD_108">
                                                            <table id="TABLE_109">
                                                                <tbody id="TBODY_110">
                                                                    <tr id="TR_111">
                                                                        <td id="TD_112">
                                                                            <input name="ctl00$ContentPlaceHolder1$generalPersonal$industryControl$optionListSearch$SearchStringTextBox" type="text" id="INPUT_113" />
                                                                            <input type="image" name="ctl00$ContentPlaceHolder1$generalPersonal$industryControl$optionListSearch$SearchImageButton" id="INPUT_114" src="http://cdn.sinacloud.net/whv-img/button_search.gif" />
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td id="TD_115">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr id="TR_116">
                                        <td id="TD_117">
                                            Selected Value:<span id="SPAN_118"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> Occupation
                            <table id="TABLE_120">
                                <tbody id="TBODY_121">
                                    <tr id="TR_122">
                                        <td id="TD_123">
                                            Please enter part or all of your job name in the search box below to return a list of matching occupations and click the search button. Then select the one that most closely matches your occupation. Or you can view the <a href="http://glossary.immigration.govt.nz/FullOccupationalList.htm" id="A_124" title="Link opens in a new window">full list</a> to find the occupation yourself.
                                        </td>
                                    </tr>
                                    <tr id="TR_125">
                                        <td id="TD_126">
                                            <table id="TABLE_127">
                                                <tbody id="TBODY_128">
                                                    <tr id="TR_129">
                                                        <td id="TD_130">
                                                            <table id="TABLE_131">
                                                                <tbody id="TBODY_132">
                                                                    <tr id="TR_133">
                                                                        <td id="TD_134">
                                                                            <input name="ctl00$ContentPlaceHolder1$generalPersonal$occupationControl$optionListSearch$SearchStringTextBox" type="text" id="INPUT_135" />
                                                                            <input type="image" name="ctl00$ContentPlaceHolder1$generalPersonal$occupationControl$optionListSearch$SearchImageButton" id="INPUT_136" src="http://cdn.sinacloud.net/whv-img/button_search.gif" />
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td id="TD_137">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr id="TR_138">
                                        <td id="TD_139">
                                            Selected Value:<span id="SPAN_140"></span>
                                        </td>
                                    </tr>
                                    <tr id="TR_141">
                                        <td id="TD_142">
                                            PLEASE NOTE: Your main occupation is the job you spent most hours doing in the last 12 months. If you have not worked in the last 12 months, please state your previous occupation. If you have not worked for the past five years or more, please select "Not Stated".
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td id="TD_143">
                        </td>
                        <td id="TD_144">
                        </td>
                    </tr>
                    <tr id="TR_145">
                        <td id="TD_146">
                        </td>
                        <td colspan="4" id="TD_147">
                        </td>
                        <td id="TD_148">
                        </td>
                    </tr>
                    <tr id="TR_149">
                        <td colspan="7" id="TD_150">
                        </td>
                    </tr>
                </tbody>
            </table><span id="SPAN_151"></span>
            <p id="P_152">
                <b id="B_153">Important - please check the information you have entered carefully to ensure it is correct before going to the next section.</b>
            </p><br id="BR_154" />
            <table id="TABLE_155">
                <tbody id="TBODY_156">
                    <tr id="TR_157">
                        <td id="TD_158">
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageFooter$wizardPageNavigator$previousImageButton" id="INPUT_159" accesskey="P" src="http://cdn.sinacloud.net/whv-img/button_previous.gif" alt="Previous (ALT + P)" />
                        </td>
                        <td id="TD_160">
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageFooter$wizardPageNavigator$validateButton" id="INPUT_161" accesskey="S" src="http://cdn.sinacloud.net/whv-img/button_save.gif" alt="Save (ALT + S)" />
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageFooter$wizardPageNavigator$completeLaterImageButton" id="INPUT_162" accesskey="L" src="http://cdn.sinacloud.net/whv-img/button_complete_later.gif" alt="Complete Later (ALT + L)" />
                        </td>
                        <td id="TD_163">
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageFooter$wizardPageNavigator$nextImageButton" id="INPUT_164" accesskey="N" src="http://cdn.sinacloud.net/whv-img/button_next.gif" alt="Next (ALT + N)" />
                        </td>
                    </tr>
                    <tr id="TR_165">
                        <td colspan="3" id="TD_166">
                            <table id="TABLE_167">
                                <tbody id="TBODY_168">
                                    <tr id="TR_169">
                                        <td id="TD_170">
                                        </td>
                                        <td id="TD_171">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<link rel="import" href="../layout/guide.html?__inline">
