<link rel="stylesheet" href="../../../css/specification.css">

<div id="DIV_1">
    <div id="DIV_2">
        <div id="DIV_3">
            <table id="TABLE_4">
                <tbody id="TBODY_5">
                    <tr id="TR_6">
                        <td id="TD_7">
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$previousImageButton" id="INPUT_8" accesskey="P" src="http://cdn.sinacloud.net/whv-img/button_previous.gif" alt="Previous (ALT + P)" />
                        </td>
                        <td id="TD_9">
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$validateButton" id="INPUT_10" accesskey="S" src="http://cdn.sinacloud.net/whv-img/button_save.gif" alt="Save (ALT + S)" />
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$completeLaterImageButton" id="INPUT_11" accesskey="L" src="http://cdn.sinacloud.net/whv-img/button_complete_later.gif" alt="Complete Later (ALT + L)" />
                        </td>
                        <td id="TD_12">
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$nextImageButton" id="INPUT_13" accesskey="N" src="http://cdn.sinacloud.net/whv-img/button_next.gif" alt="Next (ALT + N)" />
                        </td>
                    </tr>
                    <tr id="TR_14">
                        <td colspan="3" id="TD_15">
                            <table id="TABLE_16">
                                <tbody id="TBODY_17">
                                    <tr id="TR_18">
                                        <td id="TD_19">
                                            <table id="TABLE_20">
                                                <tbody id="TBODY_21">
                                                    <tr id="TR_22">
                                                        <td id="TD_23">
                                                            <span id="SPAN_24">*</span> 
                                                            <label id="LABEL_25">
                                                                indicates a mandatory field.
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr id="TR_26">
                                                        <td id="TD_27">
                                                            <span id="SPAN_28"><input id="INPUT_29" type="checkbox" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$mandatoryFields$displayMandatoryFieldErrorsCheckBox" accesskey="T" />
                                                                <label for="ctl00_ContentPlaceHolder1_wizardPageHeader_nav_mandatoryFields_displayMandatoryFieldErrorsCheckBox" id="LABEL_30">
                                                                    Display mandatory field error messages
                                                                </label></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td id="TD_31">
                                            <table id="TABLE_32">
                                                <tbody id="TBODY_33">
                                                    <tr id="TR_34">
                                                        <td id="TD_35">
                                                            <img id="IMG_36" src="http://cdn.sinacloud.net/whv-img/icon_error.gif" alt="Error" />
                                                        </td>
                                                        <td id="TD_37">
                                                            <label for="errorImage" id="LABEL_38">
                                                                The section is incomplete and/or contains errors.
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr id="TR_39">
                                                        <td id="TD_40">
                                                            <img id="IMG_41" src="http://cdn.sinacloud.net/whv-img/icon_tick.gif" alt="Clear" />
                                                        </td>
                                                        <td id="TD_42">
                                                            <label for="okImage" id="LABEL_43">
                                                                Section is complete and has no errors.
                                                            </label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="DIV_44">
                <br id="BR_45" />
                <table id="TABLE_46">
                    <tbody id="TBODY_47">
                        <tr id="TR_48">
                            <td id="TD_49">
                                <div id="DIV_50">
                                    <div id="DIV_51" ng-click="jump('/personal-details')">
                                        <img src="http://cdn.sinacloud.net/whv-img/icon_error.gif" id="IMG_52" width="13" height="13" alt="Contains Errors" />
                                        <input type="submit" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$sectionTabs$TabHeaders$ctl00$tabButton" value="Personal" id="INPUT_53" />
                                    </div>
                                    <div id="DIV_54" ng-click="jump('/health')">
                                        <img src="http://cdn.sinacloud.net/whv-img/icon_error.gif" id="IMG_55" width="13" height="13" alt="Contains Errors" />
                                        <input type="submit" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$sectionTabs$TabHeaders$ctl01$tabButton" value="Health" id="INPUT_56" />
                                    </div>
                                    <div id="DIV_57" ng-click="jump('/character')">
                                        <img src="http://cdn.sinacloud.net/whv-img/icon_error.gif" id="IMG_58" width="13" height="13" alt="Contains Errors" />
                                        <input type="submit" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$sectionTabs$TabHeaders$ctl02$tabButton" value="Character" id="INPUT_59" />
                                    </div>
                                    <div id="DIV_60" class="jump-link" data-url="{{website}}#/specification">
                                        <img src="http://cdn.sinacloud.net/whv-img/icon_error.gif" id="IMG_61" width="13" height="13" alt="Contains Errors" />
                                        <input type="submit" name="ctl00$ContentPlaceHolder1$wizardPageHeader$nav$sectionTabs$TabHeaders$ctl03$tabButton" value="Working Holiday Specific" id="INPUT_62" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table id="TABLE_63">
                <tbody id="TBODY_64">
                    <tr id="TR_65">
                        <td colspan="4" id="TD_66">
                        </td>
                    </tr>
                    <tr id="TR_67">
                        <td id="TD_68">
                        </td>
                        <td id="TD_69">
                            IMPORTANT NOTE - The information you have provided indicates that you are currently residing outside <b id="B_71">New Zealand</b>. If this information is NOT correct it is essential that you return to the "Personal Details" Screen and change the country you have selected.
                            <table id="TABLE_72">
                                <tbody id="TBODY_73">
                                    <tr id="TR_74">
                                        <td id="TD_75">
                                            Have you ever been issued a visa or permit under a New Zealand Working Holiday Scheme before?
                                        </td>
                                        <td id="TD_76">
                                             
                                            <select name="ctl00$ContentPlaceHolder1$offshoreDetails$commonWHSQuestions$previousWhsPermitVisaDropDownList" id="SELECT_77">
                                                 
                                                <option selected="selected" id="OPTION_78">
                                                    Select an option
                                                </option> 
                                                <option value="No" id="OPTION_79">
                                                    No
                                                </option> 
                                                <option value="Yes" id="OPTION_80">
                                                    Yes
                                                </option>
                                            </select> <span id="SPAN_81">*</span>
                                        </td>
                                        <td id="TD_82">
                                        </td>
                                    </tr>
                                    <tr id="TR_83">
                                        <td id="TD_84">
                                            Do you have sufficient funds available for your Working Holiday in New Zealand? Check the amount of funds you will need <a href="http://formshelp.immigration.govt.nz/onlineservices/whsonline/sufficientfunds" id="A_85" title="Link opens in a new window">here</a>.
                                        </td>
                                        <td id="TD_86">
                                             
                                            <select name="ctl00$ContentPlaceHolder1$offshoreDetails$commonWHSQuestions$sufficientFundsHolidayDropDownList" id="SELECT_87">
                                                 
                                                <option selected="selected" id="OPTION_88">
                                                    Select an option
                                                </option> 
                                                <option value="No" id="OPTION_89">
                                                    No
                                                </option> 
                                                <option value="Yes" id="OPTION_90">
                                                    Yes
                                                </option>
                                            </select> <span id="SPAN_91">*</span>
                                        </td>
                                        <td id="TD_92">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table id="TABLE_93">
                                <tbody id="TBODY_94">
                                    <tr id="TR_95">
                                        <td id="TD_96">
                                            Please enter the date you intend to travel to New Zealand
                                        </td>
                                        <td id="TD_97">
                                             
                                            <select name="ctl00_ContentPlaceHolder1_offshoreDetails_intendedTravelDateDatePicker_Day" id="SELECT_98">
                                                 
                                                <option value="0" id="OPTION_99">
                                                    --
                                                </option> 
                                                <option value="1" id="OPTION_100">
                                                    01
                                                </option> 
                                                <option value="2" id="OPTION_101">
                                                    02
                                                </option> 
                                                <option value="3" id="OPTION_102">
                                                    03
                                                </option> 
                                                <option value="4" id="OPTION_103">
                                                    04
                                                </option> 
                                                <option value="5" id="OPTION_104">
                                                    05
                                                </option> 
                                                <option value="6" id="OPTION_105">
                                                    06
                                                </option> 
                                                <option value="7" id="OPTION_106">
                                                    07
                                                </option> 
                                                <option value="8" id="OPTION_107">
                                                    08
                                                </option> 
                                                <option value="9" id="OPTION_108">
                                                    09
                                                </option> 
                                                <option value="10" id="OPTION_109">
                                                    10
                                                </option> 
                                                <option value="11" id="OPTION_110">
                                                    11
                                                </option> 
                                                <option value="12" id="OPTION_111">
                                                    12
                                                </option> 
                                                <option value="13" id="OPTION_112">
                                                    13
                                                </option> 
                                                <option value="14" id="OPTION_113">
                                                    14
                                                </option> 
                                                <option value="15" id="OPTION_114">
                                                    15
                                                </option> 
                                                <option value="16" id="OPTION_115">
                                                    16
                                                </option> 
                                                <option value="17" id="OPTION_116">
                                                    17
                                                </option> 
                                                <option value="18" id="OPTION_117">
                                                    18
                                                </option> 
                                                <option value="19" id="OPTION_118">
                                                    19
                                                </option> 
                                                <option value="20" id="OPTION_119">
                                                    20
                                                </option> 
                                                <option value="21" id="OPTION_120">
                                                    21
                                                </option> 
                                                <option value="22" id="OPTION_121">
                                                    22
                                                </option> 
                                                <option value="23" id="OPTION_122">
                                                    23
                                                </option> 
                                                <option value="24" id="OPTION_123">
                                                    24
                                                </option> 
                                                <option value="25" id="OPTION_124">
                                                    25
                                                </option> 
                                                <option value="26" id="OPTION_125">
                                                    26
                                                </option> 
                                                <option value="27" id="OPTION_126">
                                                    27
                                                </option> 
                                                <option value="28" id="OPTION_127">
                                                    28
                                                </option> 
                                                <option value="29" id="OPTION_128">
                                                    29
                                                </option> 
                                                <option value="30" id="OPTION_129">
                                                    30
                                                </option> 
                                                <option value="31" id="OPTION_130">
                                                    31
                                                </option>
                                            </select> 
                                            <select name="ctl00_ContentPlaceHolder1_offshoreDetails_intendedTravelDateDatePicker_Month" id="SELECT_131">
                                                 
                                                <option value="0" id="OPTION_132">
                                                    ---
                                                </option> 
                                                <option value="1" id="OPTION_133">
                                                    Jan
                                                </option> 
                                                <option value="2" id="OPTION_134">
                                                    Feb
                                                </option> 
                                                <option value="3" id="OPTION_135">
                                                    Mar
                                                </option> 
                                                <option value="4" id="OPTION_136">
                                                    Apr
                                                </option> 
                                                <option value="5" id="OPTION_137">
                                                    May
                                                </option> 
                                                <option value="6" id="OPTION_138">
                                                    Jun
                                                </option> 
                                                <option value="7" id="OPTION_139">
                                                    Jul
                                                </option> 
                                                <option value="8" id="OPTION_140">
                                                    Aug
                                                </option> 
                                                <option value="9" id="OPTION_141">
                                                    Sep
                                                </option> 
                                                <option value="10" id="OPTION_142">
                                                    Oct
                                                </option> 
                                                <option value="11" id="OPTION_143">
                                                    Nov
                                                </option> 
                                                <option value="12" id="OPTION_144">
                                                    Dec
                                                </option>
                                            </select> 
                                            <select name="ctl00_ContentPlaceHolder1_offshoreDetails_intendedTravelDateDatePicker_Year" id="SELECT_145">
                                                 
                                                <option value="0" id="OPTION_146">
                                                    ----
                                                </option> 
                                                <option value="2015" id="OPTION_147">
                                                    2015
                                                </option> 
                                                <option value="2016" id="OPTION_148">
                                                    2016
                                                </option>
                                            </select>
                                            <input name="ctl00$ContentPlaceHolder1$offshoreDetails$intendedTravelDateDatePicker" type="hidden" id="INPUT_149" />
                                            <input name="ctl00_ContentPlaceHolder1_offshoreDetails_intendedTravelDateDatePicker_MaxDate" type="hidden" id="INPUT_150" value="10 May 2016" />
                                            <input name="ctl00_ContentPlaceHolder1_offshoreDetails_intendedTravelDateDatePicker_MinDate" type="hidden" id="INPUT_151" value="10 May 2015" />
                                            <input name="ctl00_ContentPlaceHolder1_offshoreDetails_intendedTravelDateDatePicker_ControlState" type="hidden" id="INPUT_152" value="/wEXBQUMU2VsZWN0ZWREYXRlBgAAAAAAAAAABQxQcmV2aW91c0RhdGUGAAAAAAAAAAAFB01heERhdGUGAOB1cgF404gFEFNlbGVjdGVkRGF0ZVRleHQFBTAtMC0wBQdNaW5EYXRlBgBgRc9mWNKI" /> <span id="SPAN_153">*</span>
                                        </td>
                                        <td id="TD_154">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table id="TABLE_155">
                                <tbody id="TBODY_156">
                                    <tr id="TR_157">
                                        <td id="TD_158">
                                            Have you been to NZ before?
                                        </td>
                                        <td id="TD_159">
                                             
                                            <select name="ctl00$ContentPlaceHolder1$offshoreDetails$beenToNzDropDownList" id="SELECT_160">
                                                 
                                                <option selected="selected" id="OPTION_161">
                                                    Select an option
                                                </option> 
                                                <option value="No" id="OPTION_162">
                                                    No
                                                </option> 
                                                <option value="Yes" id="OPTION_163">
                                                    Yes
                                                </option>
                                            </select> <span id="SPAN_164">*</span>
                                        </td>
                                        <td id="TD_165">
                                        </td>
                                    </tr>
                                    <tr id="TR_166">
                                        <td id="TD_167">
                                            If yes, when?
                                        </td>
                                        <td id="TD_168">
                                             
                                            <select name="ctl00_ContentPlaceHolder1_offshoreDetails_whenInNZDatePicker_Day" id="SELECT_169">
                                                 
                                                <option value="0" id="OPTION_170">
                                                    --
                                                </option> 
                                                <option value="1" id="OPTION_171">
                                                    01
                                                </option> 
                                                <option value="2" id="OPTION_172">
                                                    02
                                                </option> 
                                                <option value="3" id="OPTION_173">
                                                    03
                                                </option> 
                                                <option value="4" id="OPTION_174">
                                                    04
                                                </option> 
                                                <option value="5" id="OPTION_175">
                                                    05
                                                </option> 
                                                <option value="6" id="OPTION_176">
                                                    06
                                                </option> 
                                                <option value="7" id="OPTION_177">
                                                    07
                                                </option> 
                                                <option value="8" id="OPTION_178">
                                                    08
                                                </option> 
                                                <option value="9" id="OPTION_179">
                                                    09
                                                </option> 
                                                <option value="10" id="OPTION_180">
                                                    10
                                                </option> 
                                                <option value="11" id="OPTION_181">
                                                    11
                                                </option> 
                                                <option value="12" id="OPTION_182">
                                                    12
                                                </option> 
                                                <option value="13" id="OPTION_183">
                                                    13
                                                </option> 
                                                <option value="14" id="OPTION_184">
                                                    14
                                                </option> 
                                                <option value="15" id="OPTION_185">
                                                    15
                                                </option> 
                                                <option value="16" id="OPTION_186">
                                                    16
                                                </option> 
                                                <option value="17" id="OPTION_187">
                                                    17
                                                </option> 
                                                <option value="18" id="OPTION_188">
                                                    18
                                                </option> 
                                                <option value="19" id="OPTION_189">
                                                    19
                                                </option> 
                                                <option value="20" id="OPTION_190">
                                                    20
                                                </option> 
                                                <option value="21" id="OPTION_191">
                                                    21
                                                </option> 
                                                <option value="22" id="OPTION_192">
                                                    22
                                                </option> 
                                                <option value="23" id="OPTION_193">
                                                    23
                                                </option> 
                                                <option value="24" id="OPTION_194">
                                                    24
                                                </option> 
                                                <option value="25" id="OPTION_195">
                                                    25
                                                </option> 
                                                <option value="26" id="OPTION_196">
                                                    26
                                                </option> 
                                                <option value="27" id="OPTION_197">
                                                    27
                                                </option> 
                                                <option value="28" id="OPTION_198">
                                                    28
                                                </option> 
                                                <option value="29" id="OPTION_199">
                                                    29
                                                </option> 
                                                <option value="30" id="OPTION_200">
                                                    30
                                                </option> 
                                                <option value="31" id="OPTION_201">
                                                    31
                                                </option>
                                            </select> 
                                            <select name="ctl00_ContentPlaceHolder1_offshoreDetails_whenInNZDatePicker_Month" id="SELECT_202">
                                                 
                                                <option value="0" id="OPTION_203">
                                                    ---
                                                </option> 
                                                <option value="1" id="OPTION_204">
                                                    Jan
                                                </option> 
                                                <option value="2" id="OPTION_205">
                                                    Feb
                                                </option> 
                                                <option value="3" id="OPTION_206">
                                                    Mar
                                                </option> 
                                                <option value="4" id="OPTION_207">
                                                    Apr
                                                </option> 
                                                <option value="5" id="OPTION_208">
                                                    May
                                                </option> 
                                                <option value="6" id="OPTION_209">
                                                    Jun
                                                </option> 
                                                <option value="7" id="OPTION_210">
                                                    Jul
                                                </option> 
                                                <option value="8" id="OPTION_211">
                                                    Aug
                                                </option> 
                                                <option value="9" id="OPTION_212">
                                                    Sep
                                                </option> 
                                                <option value="10" id="OPTION_213">
                                                    Oct
                                                </option> 
                                                <option value="11" id="OPTION_214">
                                                    Nov
                                                </option> 
                                                <option value="12" id="OPTION_215">
                                                    Dec
                                                </option>
                                            </select> 
                                            <select name="ctl00_ContentPlaceHolder1_offshoreDetails_whenInNZDatePicker_Year" id="SELECT_216">
                                                 
                                                <option value="0" id="OPTION_217">
                                                    ----
                                                </option> 
                                                <option value="1984" id="OPTION_218">
                                                    1984
                                                </option> 
                                                <option value="1985" id="OPTION_219">
                                                    1985
                                                </option> 
                                                <option value="1986" id="OPTION_220">
                                                    1986
                                                </option> 
                                                <option value="1987" id="OPTION_221">
                                                    1987
                                                </option> 
                                                <option value="1988" id="OPTION_222">
                                                    1988
                                                </option> 
                                                <option value="1989" id="OPTION_223">
                                                    1989
                                                </option> 
                                                <option value="1990" id="OPTION_224">
                                                    1990
                                                </option> 
                                                <option value="1991" id="OPTION_225">
                                                    1991
                                                </option> 
                                                <option value="1992" id="OPTION_226">
                                                    1992
                                                </option> 
                                                <option value="1993" id="OPTION_227">
                                                    1993
                                                </option> 
                                                <option value="1994" id="OPTION_228">
                                                    1994
                                                </option> 
                                                <option value="1995" id="OPTION_229">
                                                    1995
                                                </option> 
                                                <option value="1996" id="OPTION_230">
                                                    1996
                                                </option> 
                                                <option value="1997" id="OPTION_231">
                                                    1997
                                                </option> 
                                                <option value="1998" id="OPTION_232">
                                                    1998
                                                </option> 
                                                <option value="1999" id="OPTION_233">
                                                    1999
                                                </option> 
                                                <option value="2000" id="OPTION_234">
                                                    2000
                                                </option> 
                                                <option value="2001" id="OPTION_235">
                                                    2001
                                                </option> 
                                                <option value="2002" id="OPTION_236">
                                                    2002
                                                </option> 
                                                <option value="2003" id="OPTION_237">
                                                    2003
                                                </option> 
                                                <option value="2004" id="OPTION_238">
                                                    2004
                                                </option> 
                                                <option value="2005" id="OPTION_239">
                                                    2005
                                                </option> 
                                                <option value="2006" id="OPTION_240">
                                                    2006
                                                </option> 
                                                <option value="2007" id="OPTION_241">
                                                    2007
                                                </option> 
                                                <option value="2008" id="OPTION_242">
                                                    2008
                                                </option> 
                                                <option value="2009" id="OPTION_243">
                                                    2009
                                                </option> 
                                                <option value="2010" id="OPTION_244">
                                                    2010
                                                </option> 
                                                <option value="2011" id="OPTION_245">
                                                    2011
                                                </option> 
                                                <option value="2012" id="OPTION_246">
                                                    2012
                                                </option> 
                                                <option value="2013" id="OPTION_247">
                                                    2013
                                                </option> 
                                                <option value="2014" id="OPTION_248">
                                                    2014
                                                </option> 
                                                <option value="2015" id="OPTION_249">
                                                    2015
                                                </option>
                                            </select>
                                            <input name="ctl00$ContentPlaceHolder1$offshoreDetails$whenInNZDatePicker" type="hidden" id="INPUT_250" />
                                            <input name="ctl00_ContentPlaceHolder1_offshoreDetails_whenInNZDatePicker_MaxDate" type="hidden" id="INPUT_251" value="10 May 2015" />
                                            <input name="ctl00_ContentPlaceHolder1_offshoreDetails_whenInNZDatePicker_MinDate" type="hidden" id="INPUT_252" value="10 May 1984" />
                                            <input name="ctl00_ContentPlaceHolder1_offshoreDetails_whenInNZDatePicker_ControlState" type="hidden" id="INPUT_253" value="/wEXBQUMU2VsZWN0ZWREYXRlBgAAAAAAAAAABQxQcmV2aW91c0RhdGUGAAAAAAAAAAAFB01heERhdGUGAGBFz2ZY0ogFEFNlbGVjdGVkRGF0ZVRleHQFBTAtMC0wBQdNaW5EYXRlBgDgTwaJl6+I" />
                                        </td>
                                        <td id="TD_254">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table id="TABLE_255">
                                <tbody id="TBODY_256">
                                    <tr id="TR_257">
                                        <td id="TD_258">
                                            Do you have sufficient funds to purchase an outward ticket when you are due to leave New Zealand?
                                        </td>
                                        <td id="TD_259">
                                             
                                            <select name="ctl00$ContentPlaceHolder1$offshoreDetails$requirementsQuestions$sufficientFundsOnwardTicketDropDownList" id="SELECT_260">
                                                 
                                                <option selected="selected" id="OPTION_261">
                                                    Select an option
                                                </option> 
                                                <option value="No" id="OPTION_262">
                                                    No
                                                </option> 
                                                <option value="Yes" id="OPTION_263">
                                                    Yes
                                                </option>
                                            </select> <span id="SPAN_264">*</span>
                                        </td>
                                        <td id="TD_265">
                                        </td>
                                    </tr>
                                    <tr id="TR_266">
                                        <td id="TD_267">
                                            Do you meet the <a href="http://formshelp.immigration.govt.nz/onlineservices/whsonline/specialcountry" id="A_268" title="Link opens in a new window">specific requirements</a> for the scheme you are applying for?
                                        </td>
                                        <td id="TD_269">
                                             
                                            <select name="ctl00$ContentPlaceHolder1$offshoreDetails$requirementsQuestions$readRequirementsDropDownList" id="SELECT_270">
                                                 
                                                <option selected="selected" id="OPTION_271">
                                                    Select an option
                                                </option> 
                                                <option value="No" id="OPTION_272">
                                                    No
                                                </option> 
                                                <option value="Yes" id="OPTION_273">
                                                    Yes
                                                </option>
                                            </select> <span id="SPAN_274">*</span>
                                        </td>
                                        <td id="TD_275">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td id="TD_276">
                        </td>
                    </tr>
                    <tr id="TR_277">
                        <td colspan="4" id="TD_278">
                        </td>
                    </tr>
                </tbody>
            </table><span id="SPAN_279"></span>
            <p id="P_280">
                <b id="B_281">Important - please check the information you have entered carefully to ensure it is correct before going to the next section.</b>
            </p><br id="BR_282" />
            <table id="TABLE_283">
                <tbody id="TBODY_284">
                    <tr id="TR_285">
                        <td id="TD_286">
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageFooter$wizardPageNavigator$previousImageButton" id="INPUT_287" accesskey="P" src="http://cdn.sinacloud.net/whv-img/button_previous.gif" alt="Previous (ALT + P)" />
                        </td>
                        <td id="TD_288">
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageFooter$wizardPageNavigator$validateButton" id="INPUT_289" accesskey="S" src="http://cdn.sinacloud.net/whv-img/button_save.gif" alt="Save (ALT + S)" />
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageFooter$wizardPageNavigator$completeLaterImageButton" id="INPUT_290" accesskey="L" src="http://cdn.sinacloud.net/whv-img/button_complete_later.gif" alt="Complete Later (ALT + L)" />
                        </td>
                        <td id="TD_291">
                            <input type="image" name="ctl00$ContentPlaceHolder1$wizardPageFooter$wizardPageNavigator$nextImageButton" id="INPUT_292" accesskey="N" src="http://cdn.sinacloud.net/whv-img/button_next.gif" alt="Next (ALT + N)" />
                        </td>
                    </tr>
                    <tr id="TR_293">
                        <td colspan="3" id="TD_294">
                            <table id="TABLE_295">
                                <tbody id="TBODY_296">
                                    <tr id="TR_297">
                                        <td id="TD_298">
                                        </td>
                                        <td id="TD_299">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<link rel="import" href="../layout/guide.html?__inline">
